.body-gallery {
  margin: 24px 156px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  gap: 24px;
}

.body-form {
  font-family: Montserrat, sans-serif;
  padding: 20px;
}

.feedback-form {
  width: 360px;
  margin: 0 auto;
}

.feedback-form label {
  display: block;
  margin-bottom: 10px;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.feedback-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4E75FF;
  color: white;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #6C8CFF;
}
